* {
    font-family: "Microsoft JhengHei", sans-serif;
}

body {
    margin: 0;
    padding: 0;
    background-color: rgba(245, 245, 245, 1);
}

.home-page .search-input {
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);
    height: 60px;
    margin-left: 10rem;
    margin-right: 10rem;
    margin-top: 15rem;
    border-color: black;
    background-color: rgba(255,255,255,1);
    position: relative;
    display: flex;
    vertical-align: top;
}

.home-page .material-icons {
    vertical-align: middle;
    display: inline-flex;
    top: 1rem;

}

.home-page .btn{
    position: absolute;
    vertical-align: middle;
    right: 0.5rem;
    top: 0.8rem;
    color: rgba(255,255,255,1);
}

.home-page .container{
    margin: auto;
    width: 80%;
    padding-top: 2rem;
}

.search-page .material-icons.prefix {
    font-size: 20px;
    width : 1px;
    padding: 3px;
}

#apartmentName {
  height: 20px;
}

.search-page .search-bar{
  width: 100%;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);
  height: 160px;
  margin-right: 0.75rem;
  margin-top: 0.75rem;
  margin-bottom: 0.75rem;
  position: relative;

}

.search-page .search-bar-top{
  border-bottom: 1.5px dashed;
  border-color: black;
  display: flex;

}

.search-page .search-bar-bottom{
  position: absolute;
  top: 80px;
}


.search-page  #apartmentName{
  width : 92%;
  margin-left: 5px;
}

.search-page .search-bar .search-bar-top .search_separated_div{

    border-right-color: #DCDCDC;

}

.search-page .search-bar .search-bar-top .search_icon{
    float: left;
    margin-top: 20px;
}
.stickBar{
    z-index: 1;
    background-color: white;
}
