* {
    font-family: "Microsoft JhengHei", sans-serif;
}

body {
    margin: 0;
    padding: 0;
    background-color: rgba(245, 245, 245, 1);
}

.search-page .material-icons.prefix {
    font-size: 20px;
    width : 1px;
    padding: 3px;
}

#apartmentName {
  height: 20px;
}

.search-page .search-bar{
  width: 100%;
  border: 3px solid;
  border-style: outset;
  height: 100px;
  margin-right: 0.75rem;
  margin-top: 0.75rem;
  margin-bottom: 0.75rem;
  position: relative;
  
}

.search-page .search-bar-top{
  margin-top: 10px;

}

.search-page .search-bar-bottom{
  position: absolute;
  top: 60px;
}


.search-page  #apartmentName{
  width : 92%;
  margin-left: 5px;
}
